*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html{
    background-color: rgb(241, 241, 241);
}

a{
    text-decoration: none;
    color: black;
    
}

.nav-bar{
    display: flex;
    padding: 30px;
    gap: 7rem;

    align-items: center;


    background-color: rgb(160, 160, 149);
}

.logo{
    font-size: 3.5vh;
    letter-spacing: 5px;
}

.links-nav a{
    display: flex;
    font-size: 2,5vh;
}

.title{
    display: flex;
    padding: 40px 30px;

    font-size: 2.4vh;
}

.btn{
    padding: 3px 3px;
    box-shadow: 0.64px 1px black;
}

.conteiner{
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    gap: 70px;
}

.card-obj{
    display: flex;
    flex-direction: column;

    border: 2px solid rgba(116, 116, 116, 0.233);
    border-radius: 5px;
}

.img-card img{
    display: flex;
    margin: auto;
    margin-top: 20px;
    height: 21vh;
    
}

.sub-title{
    display: flex;
    flex-direction: column;
    padding: 20px 11px;
    gap: 20px;

    text-align: justify;
}

.footer{
    display: flex;
    justify-content: center;

    background-color: rgb(160, 160, 149);

    padding: 50px 0px 50px 0px;
}

.footer h3{
    padding: 6px 3px;
    box-shadow: 0.34px 1px black;
}